= form_with model: instance_variable_get("@#{type + '_form'}"), url: addresses_path do |form|
  .flash_message
  = render 'addresses/form', f: form, type: type
  .text-center.general-text-align
    .btn.btn-default= form.submit t('.save')
    